@charset "UTF-8";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.content {
  margin-top: 25px;
  margin-bottom: 130px;
}

input {
  outline: none;
}

.title {
  display: flex;
  align-items: center;
}
.title h4 {
  margin: 0;
  font-weight: bold;
}

.selection {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
}
.selection select.form-select {
  margin-top: 30px;
  font-size: 16px;
  width: 350px;
}

/*header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.header a {
  text-decoration: none;
  color: #000;
}
.header ul {
  display: flex;
  padding: 0;
}
.header ul ol a:hover {
  color: #ED1C24;
  transition: 0.3s;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__left img {
  width: 150px;
}
.header__left h4 {
  margin: 0 30px;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
  cursor: pointer;
}
.header__icons img {
  width: 40px;
}

img#dasboard_icon {
  width: 40px;
}

/*footer*/
.footer {
  height: 130px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #dee2e6;
}
.footer ul {
  margin-right: 25px;
  margin-top: 35px;
  padding: 0;
}
.footer ul ol {
  display: inline;
  padding-right: 32px;
  font-size: 14px;
}
.footer ul ol a {
  text-decoration: none;
  color: rgba(26, 26, 26, 0.75);
}
.footer ul ol a:hover {
  color: red;
  transition: 0.3s;
}

.page-up {
  position: absolute;
  bottom: 80%;
  left: 50%;
}
.page-up a {
  display: inline-block;
  color: #ffffff;
  width: 50px;
  background: #ED1C24;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
}

.arrow_carrot-up:before {
  content: "↑";
}

/*selection_monitor*/
.selection_monitor {
  width: 450px;
  margin: 80px auto;
  text-align: center;
}
.selection_monitor select.form-select {
  margin: 30px auto;
  font-size: 18px;
}
.selection_monitor option {
  font-size: 18px;
}
.selection_monitor .btn_choose {
  margin-top: 30px;
}

select.form-select {
  border-radius: 20px;
}

option {
  background-color: #fff;
  padding: 5px;
}

.btn_style {
  width: 150px;
  height: 50px;
  background: #ED1C24;
  border-radius: 50px;
  border: none;
  letter-spacing: 0.12em;
  color: #fff;
  font-weight: bold;
}
.btn_style:hover {
  background: rgba(255, 0, 10, 0.5882352941);
  transition: 0.3s;
}

/*dashboard*/
.dashboard {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}

.consultant {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.consultant img {
  width: 200px;
  height: 200px;
}

.consultant img, .consultant_left img {
  border-radius: 200px;
  object-fit: cover;
}
.consultant p, .consultant_left p {
  color: rgba(0, 0, 0, 0.75);
}

section.cars {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info {
  border: 1px solid rgba(0, 0, 0, 0.2392156863);
  width: 740px;
  border-radius: 20px;
  margin: 20px;
  min-height: 110px;
}

.info__item {
  display: flex;
  justify-content: space-around;
}

.info__status {
  margin: 10px 25px;
}
.info__status p {
  margin: auto;
  display: inline;
}

.carousel-control-prev, .carousel-control-next {
  width: fit-content;
}

/*consultants*/
.consultants_list, .video, .logos {
  margin-top: 40px;
}

.consultant_info, .video__item, .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultant_info {
  width: 630px;
}

.consultant_right {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin-left: 50px;
}
.consultant_right p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
}
.consultant_right p span {
  color: #000;
  font-size: 16px;
}

.consultant_left {
  text-align: center;
  margin: 25px;
  position: relative;
}
.consultant_left p {
  font-size: 14px;
}
.consultant_left img {
  width: 130px;
  height: 130px;
}
.consultant_left .file-input label {
  left: 23px;
  top: 0;
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 200px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.2392156863);
  font-size: 30px;
  opacity: 0;
}
.consultant_left .file-input label:hover {
  opacity: 1;
  transition: 0.5s;
}
.consultant_left .file-upload {
  width: fit-content;
}

.consultant_left h6, .consultant h5 {
  margin-top: 20px;
  font-weight: bold;
}

/*videos*/
.video__item {
  padding: 25px 0;
  width: 850px;
}
.video__item h6 {
  font-weight: bold;
  margin: 0;
}

video {
  width: 300px;
  height: 200px;
}

.video__info, .logo {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.video__info p, .logo p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
}
.video__info p span, .logo p span {
  color: #000;
  font-size: 16px;
}

.video__title, .video__main {
  display: flex;
  width: 830px;
  justify-content: space-between;
  align-items: center;
}

.video__item {
  padding: 25px 0;
  width: 830px;
  flex-direction: column;
  align-items: flex-start;
}

.video img.dropdown-toggle, .logo img.dropdown-toggle {
  width: 25px;
  height: 25px;
}

.off {
  display: none;
}

/*logos*/
.logo {
  padding: 35px 0;
}
.logo .btn-group.dropend {
  position: absolute;
  right: 0;
  top: 0;
}

.logo__main {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.dealership, .video__title {
  position: relative;
}

.dealership p, .video__title {
  height: 25px;
}

/*modal authorization*/
.modal h5 {
  text-align: center;
  margin-top: 45px;
}
.modal .btn_authorization, .modal .btn_add {
  width: 120px;
  height: 40px;
  font-size: 14px;
}
.modal p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

button.btn-close {
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: space-evenly;
}
.authorization p {
  justify-content: center;
  color: #ED1C24;
  display: none;
}

.input_style {
  border-radius: 20px;
  border-color: #dee2e6;
  border-style: solid;
  width: 250px;
  height: 40px;
  font-size: 14px;
  padding: 15px;
}

/*modal for video, logo*/
.modal-body {
  text-align: center;
}

.video-adding .btn_add, .video-adding .btn_save, .video-adding .btn_delete, .video-edit .btn_add, .video-edit .btn_save, .video-edit .btn_delete, .video-delete .btn_add, .video-delete .btn_save, .video-delete .btn_delete, .logo-adding .btn_add, .logo-adding .btn_save, .logo-adding .btn_delete, .logo-edit .btn_add, .logo-edit .btn_save, .logo-edit .btn_delete, .logo-delete .btn_add, .logo-delete .btn_save, .logo-delete .btn_delete {
  color: #ED1C24;
  border: 2px solid #ED1C24;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
}
.video-adding .btn_add:hover, .video-adding .btn_save:hover, .video-adding .btn_delete:hover, .video-edit .btn_add:hover, .video-edit .btn_save:hover, .video-edit .btn_delete:hover, .video-delete .btn_add:hover, .video-delete .btn_save:hover, .video-delete .btn_delete:hover, .logo-adding .btn_add:hover, .logo-adding .btn_save:hover, .logo-adding .btn_delete:hover, .logo-edit .btn_add:hover, .logo-edit .btn_save:hover, .logo-edit .btn_delete:hover, .logo-delete .btn_add:hover, .logo-delete .btn_save:hover, .logo-delete .btn_delete:hover {
  background-color: #ED1C24;
  color: #fff;
  border: none;
  transition: 0.6s;
}

/*input file*/
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-upload {
  width: 325px;
  display: flex;
  justify-content: space-between;
}
.file-upload p {
  margin: 0;
}

.file-input label {
  width: 170px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.2392156863);
  border: 1px dashed rgba(0, 0, 0, 0.2392156863);
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
